{% extends "base.html.twig" %}
{% block title %}
    SymRecipies - Acceuil
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
  <h1 class="display-4">Bienvenue sur SymRecipies</h1>
  <p class="lead">Symrecipes est une application qui va te permettre de creer des recettes à bas d'ingredient que tu auras toi meme creer. tu pourras partager tes recettes avec tes amis, ou bien les garder en privées</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous sur la page d'incription pour utliser l'application</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
</div>

{% endblock %}
